<h1>Accesses for <%= 
if not @link.title.nil?
    @link.title 
else 
    @link.url 
end  %></h1>
  <% if not @accesses.empty?%>
  <%= button_to "Today's accesses", "/accesses/per_day/"+@link.id.to_s, method: :get,  class: "btn btn-primary me-3" %>
  <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date and Time</th>
            <th scope="col">Ip Adress</th>
        </tr>
    </thead>
    <tbody>
        
            <% @accesses.each_with_index do |access,i|%>
        <tr>
            <th scope="row"><%= i %></th>
                <td><%= access.date_and_time%></td>
                <td><%= access.ip%></td>
            <% end %>
        </tr>
    </tbody>
    
  </table>
  <% else %>
  <h2>This link hasnt been accessed yet!</h2>
  <% end %>