<h1>Links for <%= Current.user.username %></h1>
  <% if not @links.empty?%>
  <div class="list-group">
    <% @links.each do |li|%>
      <% if not li.title.nil?%>
      <li class="list-group-item d-flex justify-content-between">
        <div class="flex-fill overflow-auto me-3"><%= li.title%></div>
        <%= button_to "Access Link", "l/"+li.slug, method: :get,  class: "btn btn-primary me-3" %>
        <%= button_to "Accesses info", li.id.to_s+"/accesses", method: :get,  class: "btn btn-secondary me-3" %>
        <%= button_to "Delete Link", li.id.to_s+"/accesses", method: :get,  class: "btn btn-danger me-3" %>
      </li>
      <% else %>
      <li class="list-group-item d-flex justify-content-between">
        <div class="flex-fill overflow-auto me-3"><%= li.url%></div>
        <%= button_to "Access Link", "l/"+li.slug, method: :get,  class: "btn btn-primary me-3" %>
        <%= button_to "Accesses info", li.id.to_s+"/accesses", method: :get,  class: "btn btn-secondary me-3" %>
        <%= button_to "Delete Link", li.id.to_s+"/accesses", method: :get,  class: "btn btn-danger me-3" %>
      </li>
      <% end %>
    <% end %>
  </div>
  <% else %>
  <h2>You have no links, create one</h2> <%= button_to "Here", type_link_path, method: :get,  class: "btn btn-primary" %>
  <% end %>
  
