<h1>Links for <%= Current.user.username %></h1>
  <% if not @links.empty?%>
  <div class="list-group">
    <% @links.each do |li|%>
    <li class="list-group-item d-flex justify-content-between">
      <% if not li.title.nil?%>
        <div class="flex-fill overflow-auto me-3"><%= li.title%></div>
      <% else %>
        <div class="flex-fill overflow-auto me-3"><%= li.url%></div>
      <% end %>
        <% if not li.type.nil?%>
        <div class="me-5"><%= li.type%></div>
        <% end %>
        <%= button_to "Access Link", "l/"+li.slug, method: :get,  class: "btn btn-primary me-3" %>
        <%= button_to "Info", "accesses/"+li.id.to_s, method: :get,  class: "btn btn-secondary me-3" %>
        <%= button_to "Delete Link", "/delete_link/"+li.id.to_s, method: :delete, class: "btn btn-danger me-3" %>
      </li>
    <% end %>
  </div>
  <% else %>
  <h2>You have no links, create one</h2> <%= button_to "Here", type_link_path, method: :get,  class: "btn btn-primary" %>
  <% end %>
  
